/* Use mode="layout" for psk-mobile, if you want to style anything from component children */
/* Use mode="default" with !important specifier if you want to override defaults from (Cardinal) styles/imports/colors.css */

:host footer {
    border-top: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: -1px 6px 29px -6px rgba(0,0,0,0.75);
}

:host(.pdfViewer) main,
:host(.noPadding) main{
    padding: 0!important;
}

:host(.fullHeightWithFooter) main {
    height: calc(100vh - 11rem) !important;
}

:host(.fullHeightWithFooter) main .coloredBackground {
    padding-top: 10px !important;
}

:host(.fullHeightWithoutFooter) main {
    height: calc(100vh - 4rem)!important;
}

:host(.historyPage) main {
    background-color: #134E9E !important;
}

::slotted(iframe) {
    height: 100% !important;
    width: 100% !important;
}

.mobile > main {
    background-color: #FFFFFF !important;
}

.mobile > main .main-cover {
    position: absolute !important;
    top: 50px !important;
}

.mobile > header > .title {
    font-size: 1.2rem !important;
}

.mobile > header {
    height: 50px !important;
}

.mobile > header .aside-menu {
    top: 37px !important;
}

.mobile > header .aside-menu psk-app-menu {
    margin-top: 100px;
}

.mobile > header,
.mobile > header .aside-menu {
    background-color: #00345B !important;
}

.mobile > header .aside-toggler::after
{
    color: #FFFFFF;
    content: "Electronic Product Information";
    padding-left: 85px;
    background-image: url(/assets/images/pharmaledger-logo-negative.svg);
    background-size: 80px 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    font-size: 15px;
    font-weight: bold;
}

.mobile > header .btn {
    min-width: 30px !important;
    min-height: 39px !important;
}

/* :host(.background) main {
    background-image: url('/assets/images/Favorite.png');
    height: 100%;
}  */
