:host {
    cursor: pointer;
}

.summary .icon {
    color: #4461B5;
}

:host([layout="collapsable"]) .content {
    background-color: #c8ecf8 !important;
}

:host([layout="collapsable"]) .footer {
    background-color: #c8ecf8 !important;
}

:host([layout="collapsable"]) .footer .icon {
    color: #4461B5 !important;
}

:host([layout="collapsable"][opened]),
:host([layout="collapsable"][opened="true"]) {
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px !important;
}