[slot='footer'] {
    border-top: 1px solid #EFEFEF;
    background-color: #FFFFFF;
}

[slot='footer'] psk-link > *,
[slot='footer'] psk-link .icon {
    padding: 0;
    margin: 0;
    color: #4461B5;
}

[slot='footer'] psk-link .icon.fa {
    font-size: x-large !important;
}

.xxlIcon .fa {
    font-size: 50px !important;
}